		<div class="col-xs-3">
			<div class="profile-container">
				<h2> User info</h2>
				<h3 class="profile-name">
					<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpeg", size:'100x100' %><br>
				</h3>
				<table class="table">
					<tbody>
						<tr></tr>
						<tr>
						  <th>name</th>
						  <th><%= user.name %>
						  </th>
						</tr>
						<tr>
						  <th>introduction</th>
						  <th><%= user.introduction %></th>
						</tr>
						<tr>
						  <th>
						  	<%= link_to "following: #{current_user.following.count}", following_user_path(current_user) %>
						  </th>
						  <th>
						  	<%= link_to "followers: #{current_user.followers.count}", followers_user_path(current_user) %>
						  </th>

						</tr>
					</tbody>
				</table>
			</div>
		  <% if current_user == user %>
			<div class="row">
			    <div>
					<button type="button" class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" data-toggle="modal" data-target="#modal1"></button>
				</div>
			</div>
		  <% end %>

		  <div>
		    <% if current_user != user %>
			  <% if current_user.following?(@user) %>
				<%= form_for(current_user.active_relationships.find_by(following_id: user.id),html: {method: :delete}) do |f| %>
					<%= f.submit 'Unfollow', class: "btn btn-danger " %>
				<% end %>
			  <% else %>
				<%= form_for(current_user.active_relationships.build) do |f| %>
					<%= hidden_field_tag :following_id, user.id %>
					<%= f.submit "Follow", class: "btn btn-primary" %>
					<%= link_to 'DM', message_path(user.id),class: 'btn btn-info' %>
				<% end %>
			  <% end %>
		    <% end %>

		  </div>

			<h2 class="new-book"> New book</h2>
			  <%= form_for(book, remote: true) do |f| %>
				<h4> Title</h4>
				<%= f.text_field :title %>

				<h4> Opinion</h4>
				<%= f.text_area :body %>

				<%= f.submit 'Create Book'%>
     		  <% end %>

			</form>

		</div>

<div class="modal fade" id="modal1" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <!-- モーダルの中身 -->
		<div class="container">
			<p id="notice" style="color: green;">
			<% if flash[:notice] %>
				<%= flash[:notice] %>
			<% end %>
			</p>
		　　<h2> User info</h2>

			<%= form_for(user) do |f| %>

			  <div class="field">
			    <%= f.label :name %>
			    <%= f.text_field :name, autofocus: true %>
			  </div>

			 <div class="field">
			 	<%= f.label :image %>
			 	<%= f.attachment_field :profile_image %>
			 </div>

			 <div class="field">
			 	<%= f.label :introduction %>
			 	<%= f.text_area :introduction, autofocus: true %><br />
			 </div>

			 	<%= f.submit "Update User" %>
			<% end %>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>
