<div class="container" style="display: table;" >
  <div class="row" style="display:table-cell; width: 50%">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>


      <div class="field">
        <%= f.input :name, autofocus: true,required: false %>
      </div>


      <div class="field">
        <%= f.input :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.button :submit, "Log in",class: "btn btn-info" %>
      </div>
    <% end %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

  </div>
  <div class="row" style="display:table-cell; width: 50%;vertical-align: bottom;">
    <%= render "devise/shared/links" %>
  </div>
</div>